@charset "UTF-8";
/*  文章列表的样式 */
.article-row {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 0.6em 0;
  border-radius: 5px;
  white-space:normal;
  word-break:break-all;
  overflow: auto;
}

@media (min-width: 768px) {
  .article-row {
    padding: 1em;
    border: 1px solid #fff;
    transition-property: border;
    transition-duration: 1s;
  }

  .article-row:hover {
    border-color: #45bcf9;
  }
}

.article-type {
  background-color: #45bcf9;
  padding: 3px 5px;
  margin-right: 0.5em;
  font-weight: normal;
  color: #fff;
  font-size: 0.7em;
  border-radius: 3px;
  word-break:keep-all;
  white-space:nowrap;      
  overflow:hidden;
}

.article-title {
  display: flex;
  align-items: center;
}

.article-title a {
  color: #495060;
}

.article-title a:hover {
  text-decoration: none;
}

.article-row p:nth-of-type(1) {
  text-indent: 1em;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}

.article-row p:nth-of-type(2) {
  margin-bottom: 0;
}
